* {
    box-sizing: border-box;
}

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Chakra Petch', sans-serif;
    background-color: #281660;
    letter-spacing: 0.05em;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 96px;
}

h2 {
    font-size: 72px;
}

h3 {
    font-size: 64px;
}

h4 {
    font-size: 48px;
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: 0.05em;
    font-weight: bold;
}

p {
    font-family: 'Tenali Ramakrishna', sans-serif;
    font-size: 24px;
}

.clear {
    clear: left;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.fa {
    margin-right: 5px;
}

header {
    height: 100px;
    width: 100%;
    background-color: #281660;
    position :fixed;
    top: 0;
    z-index: 10;
    box-shadow: 0px 7px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Assistant', sans-serif;
    font-size: 20px;
}

.logo {
    width: 200px;
    line-height: 80px;
    margin-top: 10px;
}

.header-left {
    float: left;
}

.header-right {
    float: right;
    margin-right: -25px;
}

.header-right a {
    line-height: 100px;
    padding: 0 25px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
    letter-spacing: 3px;
}

.header-right a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.top-wrapper {
    margin-top: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 200px 0 300px 0;
    background-image: url("./assets/main-bg.jpg");
    width: 80%;
    /* width: 100%; */
    height: auto;
    background-size: cover;
    color: white;
    text-align: center;
    border-radius: 144px;
    filter: drop-shadow(-10px 4px 4px rgba(0, 0, 0, 0.25));
  }


.top-wrapper-text {
    width: 90%;
}

.white-container {
    background-color: white;
    margin-top: 200px;
    padding: 100px 0 0 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
    filter: drop-shadow(-10px 4px 4px rgba(0, 0, 0, 0.25));
}

.purple-container {
    background-color: #281660;
    border-radius: 100px;
}

.white-container .iscc-def {
    display: table-cell;

}

.iscc-def {
    width: 80%;
    height: 900px;
    color: black;
}

.iscc-def-purp {
    margin-top: -100px;
    margin-left: -1px;
    line-height: 900px;
    width: 40%;
}

.iscc-logo {
    width: 80%;
}

.iscc-content {
    float: left;
    text-align: center;
}

.iscc-def-text {
    width: 60%;
    padding: 0 5em 0 5em;
}

.iscc-content p {
    margin-top: 2em;
}

.regist-req-cards {
    color: white;
    display: inline;
}

.regist-req {
    width: 80%;
    /* height: 1500px; */
    height: fit-content;
    text-align: center;
    margin-bottom: 200px;
    padding-bottom: 80px;
}

.light-purple-card p {
    font-size: 30px;
    line-height: 40px;
    vertical-align: middle;
    margin-left: 5em;
    margin-top: -65px;
}
.regist-req h3 {
    font-size: 60px;
    line-height: 80px;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
}

.light-purple-card {
    background-color: #343893;
    width: 80%;
    height: 200px;
    margin-bottom: 80px;
    text-align: left;
    box-shadow: -10px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.light-purple-card img {
    width: 8%;
    margin-left: 5%;
    margin-top: 60px;
}

.button-wrapper {
    margin-top: 200px;
    margin-bottom: 200px;
    text-align: center;
    justify-content: center;
}

.big-container {
    background-image: url('./assets/last-bg.png');
    background-size: cover;
    width: 100%;
    height: fit-content;
    border-radius: 144px 144px 0px 0px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.event-details {
    height: fit-content;
}

.event-details h2 {
    color: white;
    padding-top: 200px;
}

.rundown {
    width: 60%;
    margin-top: 120px;
}

.bubbles {
    margin-top: 300px;
    height: fit-content;
}

.bubble {
    margin-top: 100px;
    width: 90%;
    height: 550px;
    padding: 0;
    position: relative;
    z-index: 2;
}

.bubble-text {
    padding-top: 80px;
    width: 65%;
    height: inherit;
    align-items: center;
}

.bubble-text-left {
    margin-left: 35%;
}

.bubble p {
    margin-top: 40px;
    padding: 0 7em 0 7em;
}

.preliminary {
    background-image: url('./assets/preliminary.png');
}

.semifinal {
    background-image: url('./assets/semifinal.png');

}

.seminar {
    background-image: url('./assets/seminar.png');
}

.bubble .image {
    width: 35%;
    height: inherit;
    border-radius: inherit;
    background-size: cover;
}

.img-right {
    float: right;
    margin-top: -550px;
}

.img-left {
    float: left;
}

.final {
    color: white;
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(-10px 4px 4px rgba(0, 0, 0, 0.25));
    height: 800px;
    margin-top: -200px;
    z-index: 1;
}

.final-content {
    padding: 300px 15em 0 15em;
}

.final-content p {
    font-size: 30px;
    margin-top: 50px;
}

.segements {
    margin-top: 200px;
    padding: 100px 0 100px 0;
    width: 90%;
    filter: drop-shadow(-10px 4px 4px rgba(0, 0, 0, 0.25));
    margin-left: auto;
    margin-right: auto;
    display: table;
}

.card {
    margin-left: 5em;
    margin-right: 0;
    height: 300px;
    border-radius: 60px;
    padding: 0;
    width: 25%;
    float: left;
    margin-top: 100px;
    filter: drop-shadow(-10px 4px 4px rgba(0, 0, 0, 0.25));
}

.card img {
    margin-top: -20px;
    float: left;
    margin-left: -20px;
    height: 80px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.segements h3 {
    color: white;
}

.card p {
    padding: 80px 1em 0 1em;
    text-align: center;
}

.sponsorship {
    color: white;
    margin-top: 250px;
}

.sponsorships img {
    border-radius: 150px;
    margin-top: 80px;
    margin-left: 20px;
    margin-right: 20px;
}

.table-logo {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 70%;
}

.table-logo img {
    border-radius: 150px;
    margin-top: 80px;
    margin-left: 20px;
    margin-right: 20px;
}

.media-partners {
    margin-top: 250px;
    color: white;
    margin-bottom: 250px;
}

footer {
    background-color: #281660;
    padding: 50px 0 50px 0;
}

.socmed {
    float: left;
    padding: 0 0 100px 0;
    width: 100%;
    border-radius: 0;
}

.contact-us {
    text-align: left;
    float: left;
    margin-left: 5%;
}

.socmed p {
    font-family: 'Assistant', sans-serif;
    color: white;
    line-height: 35px;
    vertical-align:top;
}

.contact-us p {
    font-weight: normal;
    margin-bottom: 5px;
}

.contact-us .p-s{
    font-size: medium;
}

.contact-us span {
    margin-right: 10px;
}

.contact-us img {
    vertical-align: top;
}

.logos {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.basis-logo {
    width: 25%;
}

.collab-logo {
    width: 15%;
    margin-bottom: 30px;
}

.binus-logo {
    width: 25%;
    margin-bottom: 30px;
}

.logos img {
    padding: 0 3em 0 3em;
}

.contact-person {
    margin-top: 100px;
    color: white;
}

.contact-person li {
    margin-top: 5px;
}

.contact-person img {
    vertical-align: bottom;
    margin-right: 10px;
}

.contact-person ul {
    text-align: left;
    font-family: 'Assistant', sans-serif;
    line-height: 35px;
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    display: block;
    list-style: none;
    font-size: large;
}

.contact-person h4 {
    font-size: 35px;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400|Raleway:300);

html i,
html em,
html b,
html strong,
html span {
  transition: none;
}

*:before,
*:after {
  z-index: -1;
}


[class^=btn-] {
    text-decoration: none;
    line-height: 200px;
    position: relative;
    display: block;
    overflow: hidden;
    width: 50%;
    height: 200px;
    margin: 1rem auto;
    text-transform: uppercase;
    border: 5px solid currentColor;
    font-weight: bold;
  }


.btn-6 {
    color: white;
    border-radius: 100px;
    font-size: 70px;
    letter-spacing: 0.05em;
  }

.btn-6 span {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: #36A7E3;
    transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
    transform: translate(-50%, -50%);
    z-index: -1;
}
.btn-6:hover {
    color: black;
    border: 0;
    padding: 5px;
}
.btn-6:hover span {
    width: 225%;
    height: 800px;
}
.btn-6:active {
    background-color: white;
    color: #343893;
    border: 5px solid black;
}

