* {
    box-sizing: border-box;
}

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: "Lucida Grande";
    background-color: #281660;
}

a {
    text-decoration: none;
}

.clear {
    clear: left;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.fa {
    margin-right: 5px;
}

header {
    height: 80px;
    width: 100%;
    background-color: #281660;
    position :fixed;
    top: 0;
    z-index: 10;
    box-shadow: 0px 7px 4px rgba(0, 0, 0, 0.25);
}

.logo {
    width: 60px;
    margin-top: 10px;
    line-height: 80px;
}

.header-left {
    float: left;
}

.header-right {
    float: right;
    margin-right: -25px;
}

.header-right a {
    line-height: 80px;
    padding: 0 25px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
    letter-spacing: 3px;
}

.header-right a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.flexbox {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-wrapper {
    margin-top: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 330px 0 300px 0;
    background-image: url("./assets/main-bg.jpg");
    width: 90%;
    height: auto;
    background-size: cover;
    color: white;
    text-align: center;
    border-radius: 144px;
    filter: drop-shadow(-10px 4px 4px rgba(0, 0, 0, 0.25));
  }


.top-wrapper-text {
    width: 80%;
}

.white-container {
    background-color: white;
    margin-top: 200px;
    padding: 100px 0 300px 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
    filter: drop-shadow(-10px 4px 4px rgba(0, 0, 0, 0.25));
}

.purple-container {
    background-color: #281660;
    border-radius: 100px;
}

.iscc-def {
    width: 90%;
    height: 1230px;
}

.iscc-def-purp {
    margin-top: -100px;
    margin-left: -1px;
    width: 40%;
    line-height: 1230px;
    text-align: center;
}

.iscc-logo {
    width: 470px;
    height: 160px;
}

.regist-req {
    width: 90%;
    height: 1700px;
    text-align: center;
    margin-bottom: 200px;
}

.regist-req-cards {
    margin-top: -1150px;
}

.light-purple-card {
    background-color: #343893;
    width: 80%;
    line-height: 340px;
    height: 250px;
    margin-bottom: 80px;
    text-align: left;
    box-shadow: -10px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.light-purple-card img {
    margin-left: 50px;
}

.button-wrapper {
    margin-top: 200px;
    margin-bottom: 200px;
    text-align: center;
    justify-content: center;
}

.big-container {
    background-image: url('./assets/last-bg.png');
    background-size: cover;
    width: 100%;
    height: 7880px;
    border-radius: 144px 144px 0px 0px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -700px;
}

.big-container h1 {
    padding-top: 200px;
}

.event-details {
    height: fit-content;
}

.rundown {
    width: 60%;
    margin-top: 200px;
}

.bubbles {
    margin-top: 300px;
    height: fit-content;
}

.bubble {
    margin-top: 100px;
    width: 90%;
    height: 550px;
    padding: 0;
    position: relative;
    z-index: 2;
}

.preliminary {
    background-image: url('./assets/preliminary.png');
}

.semifinal {
    background-image: url('./assets/semifinal.png');

}

.seminar {
    background-image: url('./assets/seminar.png');
}

.bubble .image {
    width: 30%;
    height: inherit;
    border-radius: inherit;
    background-size: cover;
}

.img-left {
    float: left;
}

.img-right {
    float: right;
}

.final {
    color: white;
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(-10px 4px 4px rgba(0, 0, 0, 0.25));
    height: 800px;
    margin-top: -200px;
    z-index: 1;
}

.segements {
    margin-top: 200px;
    padding: 50px 0 100px 0;
    height: 650px;
    width: 90%;
    filter: drop-shadow(-10px 4px 4px rgba(0, 0, 0, 0.25));
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: table;
}


.card {
    margin-left: 0;
    margin-right: 0;
    height: 400px;
    border-radius: 60px;
    padding: 0;
    width: 22.5%;
    float: left;
    margin-left: 120px;
    filter: drop-shadow(-10px 4px 4px rgba(0, 0, 0, 0.25));
}

.card img {
    margin-top: -20px;
    float: left;
    margin-left: -20px;
    height: 80px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


@import url(https://fonts.googleapis.com/css?family=Open+Sans:400|Raleway:300);

html i,
html em,
html b,
html strong,
html span {
  transition: none;
}

*:before,
*:after {
  z-index: -1;
}


a {
    text-decoration: none;
    line-height: 200px;
    color: black;
  }

[class^=btn-] {
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 200px;
    max-width: 700px;
    margin: 1rem auto;
    text-transform: uppercase;
    border: 5px solid currentColor;
  }


.btn-6 {
    color: white;
    border-radius: 100px;
    font-size: xx-large;
  }
.btn-6 span {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: #36A7E3;
    transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
    transform: translate(-50%, -50%);
    z-index: -1;
}
.btn-6:hover {
    color: black;
    border: 0;
    padding: 5px;
    /* border: 5px solid white; */
}
.btn-6:hover span {
    width: 225%;
    height: 800px;
}
.btn-6:active {
    background-color: white;
    color: #343893;
    border: 5px solid black;
}

